@inherits LayoutComponentBase
<header>
    <span class="logo" >Moment 1.3</span>
<Clock />
</header>

<div class="wrapper">
    <div class="sidebar">
        <nav>

    <a href = "/"> Home </a>
    <a href = "/reviews"> Movie Reviews </a>
    <a href = "/Converter"> Converter </a>
   
    
</nav>
    </div>
    <div class="mainContent" >
    
            @Body
   </div>
  
</div>
 <footer>Created by Måns - Reach me by email: <a href="mans99@live.se">mans99@live.se</a></footer>