@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome!</h1>

<p>This is a web page I created in Blazor Webassembly.</p>
<h2>About me</h2>
  <p>I am a 22 year old guy in Uppsala currently studying web development at Mid Sweden University.<br /><br />
    The programming languages I've learned so far are JavaScript, PHP, SQL and C#. <br /><br />
    In my free time I like to hang out with friends, play music and read.</p>

